collections
opencv-python
detector
flask==2.3.3
flask_sqlalchemy==2.5.1
importlib
json
moviepy==1.0.3
numpy==2.0.2
pkg_resources
pydub==0.25.1
pygame==2.6.1
sqlite3
sys
time
torch==2.6.0+cu126
ultralytics==8.3.94
werkzeug==2.3.7
yaml